PILAR ARIAS, YEDRA MARTÍN, PATRICIA MEDIAVILLA, AMAYA SARASA

<GRUPO 9>

#INTRODUCCIÓN

Esta es la primera práctica del primer laboratorio. Dada una base de datos en formato .csv, se nos pide contestar a una serie de cuestiones. Para ello, lo primero que debemos hacer es cargar y leer la base de datos:

In [ ]:
#importamos la base de datos
import pandas as pd #pandas
df=pd.read_csv('airbnb.csv',encoding='latin-1')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

Se observa que se ha cargado de manera correcta.

Importamos así también todas las librerías necesarias para ejecutar esta práctica.

In [ ]:
#importamos todas las librerías necesarias: 
import sklearn #scikit-learn
import matplotlib.pyplot as plt #gráfica Matplotlib
import numpy as np #NumPy

Según se ha estudiado en clase, encontramos dos métodos para afrontarlo. Nos decantaremos por CRISP-DM. Las siglas para: CRoss-Industry Standard Process for Data Mining. 

Es un modelo de proceso de minería de datos que se utiliza en la industria. Es un marco de trabajo que define un proceso estandarizado para llevar a cabo proyectos de minería de datos, desde la definición del problema hasta la implementación y evaluación del resultado. Los seis pasos que componen Crisp-DM son los siguientes:

- Comprensión de los negocios y definición del problema: comprender la naturaleza del problema y los objetivos de negocio.

- Comprensión de los datos: recopilación inicial, descripción y exploración  de datos.

- Preparación de los datos: Selección, limpieza, construcción, integración, formateo de los datos.

- Modelado: aplicar las técnicas de minería de datos a los dataset.

- Evaluación: determinar si los resultados son útiles a las necesidades del negocio.

- Despliegue: explotar utilidad de los modelos, integrándolos en las tareas de toma de decisiones de la organización -> Call to Action.

#EJERCICIO 1

## Comprensión del negocio y definición del problema

El barrio de Williamsburg es uno de los barrios de moda hoy en día. Desde 2005 ha pasado de ser un distrito donde principalmente se encontraban fabricas a acoger una gran cantidad de gente joven y nuevos negocios. ¿Teniendo en cuenta los datos proporcionados que posición en términos de popularidad/calidad se puede decir que ostenta el barrio con respecto a los demás que forma New York?

Para medir la popularidad/calidad del barrio, tendremos primero en cuenta el número de apartamentos de calidad según los usuarios. Para ello, lo primero será clasificar los apartamentos como “Muy Malos”, “Malos”, “Regulares”, “Buenos” y “Muy Buenos”. Para ello primero haremos un par de transformaciones de los datos. La columna de reseñas por mes, se dividirán en 3 rangos iguales, después dependiendo del valor concreto que tenga cada apartamento se le asignarán las etiquetas: “Baja”, “Media” y ”Alta”. Para la columna que indica el número de días que está disponible asignaremos las etiquetas de menor valor a mayor de la siguiente manera: “Poco disponible”, “Disponible normalmente” y “Altamente disponible”. Finalmente crearemos una columna para clasificar los apartamentos, teniendo en cuenta una serie de reglas, que se explicarán más adelante.

## Comprensión de los datos

La base de datos que utilizaremos consta de 48895 observaciones. En cada observación recopilamos los siguientes atributos: 
- id: id del apartamento en cuestión. 
- name: nombre del apartamento
- host_id: id del anfitrión 
- host_name: nombre del anfitrión 
- neighbourhood_group: estado al que pertenece
- neighbourhood: barrio al que pertenece 
- latitude: coordenadas de latitud
- longitude: coordenadas de longitud 
- room_type: tipo de habitación 
- price: precio en dólares
- minimum_nights: noches mínimas que te puedes hospedar
- number_of_reviews: número de reseñas 
- last_review: última reseña 
- reviews_per_month: reseñas por mes 
- calculated_host_listings_count: ??? 
- availability_365: días disponibles por año.

TENEMOS QUE ESTUDIAR ESTO: datos redundantes o anómalos.

## Preparación de los datos

Primero debemos tratar la base de datos para así estudiar qué hacer con los datos NaN que encontraremos. 

Analizamos cuántos datos NaN hay en la columna 'reviews_per_month', ya que la trataremos posteriormente, y deberemos conocer el contenido de esta.

In [ ]:
reviews_per_month_nan = df['reviews_per_month'].isna().sum()
print(reviews_per_month_nan)

10052

Ahora bien, vemos que hay 10052 datos NaN en la columna. Observemos cuántos datos hay en total para barajar las distintas opciones de qué hacer con estos datos NaN. Si es poca cantidad comparado con la cantidad de observaciones en total, podremos eliminar directamente esas observaciones, sin embargo, si suponen gran cantidad, podríamos buscar otras opciones, como rellenar con la media para así no afectar al equilibrio del resto de datos. 

Es verdad que como hablamos de reseñas por mes, sería factible convertir esos NaN en 0, para que así a la hora de categorizar la columna, lo detecte como Bajo. 

¿Por qué rellenamos con 0's? Encontramos un NaN en la columna de 'reviews_per_month', cuando en la columna de 'number_of_reviews' aparece un 0, o un NaN directamente, es decir, que anteriormente no se ha hecho ninguna reseña, por lo que obviamente, en el último mes, tampoco. No deberíamos rellenar con la media, ya que ahí estamos aportando una cierta cantidad de reseñas que no se han hecho.

In [ ]:
num_observations = df.shape[0]
print(num_observations)

48895

Supone un 20% de los datos totales. No resulta útil borrarlos, si no que deberíamos rellenar con 0 como hemos explicado anteriormente.

In [ ]:
df['reviews_per_month'].fillna(0, inplace=True)

Comprobamos por tanto que en esa columna ya no nos quede ningún NaN

In [ ]:
reviews_per_month_nan = df['reviews_per_month'].isna().sum()
print(reviews_per_month_nan)

0

Ya nos hemos asegurado que no nos quedad ningún dato NaN, así no encontraremos ningún error a la hora de categorizar la columna, que es el siguiente paso. 

Lo categorizamos en tres: Baja, Media y Alta. Para ello tomaremos el valor del menor y mayor dato, y etiquetando así cada clase, gracias a la función pd.cut, asignaremos cada valor numérico correspondiente.

In [ ]:
# Número de intervalos
num_intervalos = 3

# Lista de intervalos
intervalos = np.linspace(df['reviews_per_month'].min()-0.001, df['reviews_per_month'].max(), num_intervalos+1)

# Creamos las etiquetas 
etiquetas = ['Baja', 'Media', 'Alta']

# Asigna una categoría a cada intervalo
df['reviews_per_month'] = pd.cut(df['reviews_per_month'], intervalos, labels=etiquetas)

En la lista de intervalos se ha restado -0.001, ya que al tomar el rango mínimo como 0, no incluía ese valor y detectaba aquellos valores 0.00 como NaN a la hora de categorizar.

Por otro lado, vamos a clasificar los alquileres en función de los días que están disponibles. 

Para ello, siguiendo el patrón anterior, calculamos si hay NaN en la columna correspondiente:

In [ ]:
disponibilidad_nan = df['availability_365'].isna().sum()
print(disponibilidad_nan)

0

No hay ningún NaN en dicha columna, por lo que no hace falta tratarlos. En el caso de encontrarlos, se tendría que estudiar qué hacer con este conjunto de datos de manera independiente. 

Calculemos los intervalos de los rangos.

In [ ]:
#Definimos los intervalos
n_inter = 3

# Creamos una lista de intervalos
interv = np.linspace(df['availability_365'].min()-0.001, df['availability_365'].max(), n_inter+1)

# Creamos las etiquetas 
labels = ['Poco disponible', 'Disponible normalmente', 'Altamente disponible']

# Asigna una categoría a cada intervalo
df['availability_365'] = pd.cut(df['availability_365'], interv, labels=labels)

Imprimimos 5 observaciones del nuevo atributo categorizado para observar si se ha realizado de manera correcta.

In [ ]:
print(df['availability_365'].head())

0      Altamente disponible
1      Altamente disponible
2      Altamente disponible
3    Disponible normalmente
4           Poco disponible
Name: availability_365, dtype: category
Categories (3, object): ['Poco disponible' < 'Disponible normalmente' < 'Altamente disponible']

Finalmente, añadimos la nueva columna de clasificación, y la rellenamos con datos NaN, para así más adelante rellenarlo según las reglas definidas en el enunciado.

In [ ]:
df.loc[:,'classification']=np.nan

Imprimimos las 5 primeras observaciones con cada atributo para comprobar que se ha añadidio de manera correcta

In [ ]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,classification
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,Baja,6,Altamente disponible,NaN
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,Baja,2,Altamente disponible,NaN
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,Baja,1,Altamente disponible,NaN
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,Baja,1,Disponible normalmente,NaN
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,Baja,1,Poco disponible,NaN

Vamos a clasificar los datos según la siguente tabla

 Poco disponible | Disponible normalmente | Altamente disponible
-----:|:--------:| -------
Bueno | Regular | Malo
Bueno | Regular | Malo
Muy bueno | Bueno | Muy Malo



Donde cada fila depende del valor de la reseña en Baja, Media y Alta respectivamente

In [ ]:

filas=len(df.axes[0])
for i in range (filas):
  if df['availability_365'][i]=='Poco disponible':
    if df['reviews_per_month'][i]=='Alta':
      df['classification'][i]='Muy bueno'
    else:
      df['classification'][i]='Bueno'
  elif df['availability_365'][i]=='Disponible normalmente':
    if df['reviews_per_month'][i]=='Alta':
      df['classification'][i]='Bueno'
    else:
      df['classification'][i]='Regular'
  else:
    if df['reviews_per_month'][i]=='Alta':
      df['classification'][i]='Muy malo'
    else:
      df['classification'][i]='Malo'

<ipython-input-13-40d0a61399f8>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['classification'][i]='Malo'
/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

Comprobemos que no quede ningun NaN.

In [ ]:
classif_nan = df['classification'].isna().sum()
print(classif_nan)

0

Todos los datos de la nueva columna han sido modificados, por lo que ya tenemos clasificados los alquieleres.

Estudiaremos cuantos apartamentos pertenecen a cada clase.

In [ ]:
cant_bueno = df['classification'].value_counts() 
print(cant_bueno)

Bueno       30637
Malo        11474
Regular      6783
Muy malo        1
Name: classification, dtype: int64

Hay un total de 30 637 alquileres buenos, 11 474 malos y solamente 1 muy malo, por lo que podemos considerar que de los alquileres en esta página predominan los buenos.

## Modelado

Una vez hemos preparado los datos tal y como deseamos, procedemos a modelar y estudiar el objetivo. Vamos a ver cuántos barrios hay, y cuántos apartamentos encontramos en los más populares.

In [ ]:
df['neighbourhood'].value_counts()

Williamsburg          3920
Bedford-Stuyvesant    3714
Harlem                2658
Bushwick              2465
Upper West Side       1971
                      ...
Fort Wadsworth           1
Richmondtown             1
New Dorp                 1
Rossville                1
Willowbrook              1
Name: neighbourhood, Length: 221, dtype: int64

Primero observamos que Williamsburg es donde más apartamentos encontramos.

In [ ]:
df.loc[:,'classification_num']=np.nan

In [ ]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,classification,classification_num
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,Baja,6,Altamente disponible,Malo,NaN
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,Baja,2,Altamente disponible,Malo,NaN
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,Baja,1,Altamente disponible,Malo,NaN
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,Baja,1,Disponible normalmente,Regular,NaN
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,Baja,1,Poco disponible,Bueno,NaN

In [ ]:
filas=len(df.axes[0])
for i in range (filas):
  if df['availability_365'][i]=='Poco disponible':
    if df['reviews_per_month'][i]=='Alta':
      df['classification_num'][i]=1
    else:
      df['classification_num'][i]=0.75
  elif df['availability_365'][i]=='Disponible normalmente':
    if df['reviews_per_month'][i]=='Alta':
      df['classification_num'][i]=0.75
    else:
      df['classification_num'][i]=0.5
  else:
    if df['reviews_per_month'][i]=='Alta':
      df['classification_num'][i]=0
    else:
      df['classification_num'][i]=0.25

<ipython-input-19-812340fe2f91>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['classification_num'][i]=0.25
<ipython-input-19-812340fe2f91>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['classification_num'][i]=0.5
<ipython-input-19-812340fe2f91>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['classification_num'][i]=0.75
<ipython-input-19-812340fe2f91>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['classification_num'][i]=0

In [ ]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,classification,classification_num
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,Baja,6,Altamente disponible,Malo,0.25
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,Baja,2,Altamente disponible,Malo,0.25
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,Baja,1,Altamente disponible,Malo,0.25
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,Baja,1,Disponible normalmente,Regular,0.50
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,Baja,1,Poco disponible,Bueno,0.75

In [ ]:
barrios= np.unique(df['neighbourhood'])
num_barrios = len(barrios)
print('Number of classes:', num_barrios)

Number of classes: 221

In [ ]:
barrios

array(['Allerton', 'Arden Heights', 'Arrochar', 'Arverne', 'Astoria',
       'Bath Beach', 'Battery Park City', 'Bay Ridge', 'Bay Terrace',
       'Bay Terrace, Staten Island', 'Baychester', 'Bayside', 'Bayswater',
       'Bedford-Stuyvesant', 'Belle Harbor', 'Bellerose', 'Belmont',
       'Bensonhurst', 'Bergen Beach', 'Boerum Hill', 'Borough Park',
       'Breezy Point', 'Briarwood', 'Brighton Beach', 'Bronxdale',
       'Brooklyn Heights', 'Brownsville', "Bull's Head", 'Bushwick',
       'Cambria Heights', 'Canarsie', 'Carroll Gardens', 'Castle Hill',
       'Castleton Corners', 'Chelsea', 'Chinatown', 'City Island',
       'Civic Center', 'Claremont Village', 'Clason Point', 'Clifton',
       'Clinton Hill', 'Co-op City', 'Cobble Hill', 'College Point',
       'Columbia St', 'Concord', 'Concourse', 'Concourse Village',
       'Coney Island', 'Corona', 'Crown Heights', 'Cypress Hills',
       'DUMBO', 'Ditmars Steinway', 'Dongan Hills', 'Douglaston',
       'Downtown Brooklyn', 'Dyker Heights', 'East Elmhurst',
       'East Flatbush', 'East Harlem', 'East Morrisania', 'East New York',
       'East Village', 'Eastchester', 'Edenwald', 'Edgemere', 'Elmhurst',
       'Eltingville', 'Emerson Hill', 'Far Rockaway', 'Fieldston',
       'Financial District', 'Flatbush', 'Flatiron District', 'Flatlands',
       'Flushing', 'Fordham', 'Forest Hills', 'Fort Greene',
       'Fort Hamilton', 'Fort Wadsworth', 'Fresh Meadows', 'Glendale',
       'Gowanus', 'Gramercy', 'Graniteville', 'Grant City', 'Gravesend',
       'Great Kills', 'Greenpoint', 'Greenwich Village', 'Grymes Hill',
       'Harlem', "Hell's Kitchen", 'Highbridge', 'Hollis', 'Holliswood',
       'Howard Beach', 'Howland Hook', 'Huguenot', 'Hunts Point',
       'Inwood', 'Jackson Heights', 'Jamaica', 'Jamaica Estates',
       'Jamaica Hills', 'Kensington', 'Kew Gardens', 'Kew Gardens Hills',
       'Kingsbridge', 'Kips Bay', 'Laurelton', 'Lighthouse Hill',
       'Little Italy', 'Little Neck', 'Long Island City', 'Longwood',
       'Lower East Side', 'Manhattan Beach', 'Marble Hill',
       'Mariners Harbor', 'Maspeth', 'Melrose', 'Middle Village',
       'Midland Beach', 'Midtown', 'Midwood', 'Mill Basin',
       'Morningside Heights', 'Morris Heights', 'Morris Park',
       'Morrisania', 'Mott Haven', 'Mount Eden', 'Mount Hope',
       'Murray Hill', 'Navy Yard', 'Neponsit', 'New Brighton', 'New Dorp',
       'New Dorp Beach', 'New Springville', 'NoHo', 'Nolita',
       'North Riverdale', 'Norwood', 'Oakwood', 'Olinville', 'Ozone Park',
       'Park Slope', 'Parkchester', 'Pelham Bay', 'Pelham Gardens',
       'Port Morris', 'Port Richmond', "Prince's Bay", 'Prospect Heights',
       'Prospect-Lefferts Gardens', 'Queens Village', 'Randall Manor',
       'Red Hook', 'Rego Park', 'Richmond Hill', 'Richmondtown',
       'Ridgewood', 'Riverdale', 'Rockaway Beach', 'Roosevelt Island',
       'Rosebank', 'Rosedale', 'Rossville', 'Schuylerville', 'Sea Gate',
       'Sheepshead Bay', 'Shore Acres', 'Silver Lake', 'SoHo',
       'Soundview', 'South Beach', 'South Ozone Park', 'South Slope',
       'Springfield Gardens', 'Spuyten Duyvil', 'St. Albans',
       'St. George', 'Stapleton', 'Stuyvesant Town', 'Sunnyside',
       'Sunset Park', 'Theater District', 'Throgs Neck', 'Todt Hill',
       'Tompkinsville', 'Tottenville', 'Tremont', 'Tribeca',
       'Two Bridges', 'Unionport', 'University Heights',
       'Upper East Side', 'Upper West Side', 'Van Nest', 'Vinegar Hill',
       'Wakefield', 'Washington Heights', 'West Brighton', 'West Farms',
       'West Village', 'Westchester Square', 'Westerleigh', 'Whitestone',
       'Williamsbridge', 'Williamsburg', 'Willowbrook', 'Windsor Terrace',
       'Woodhaven', 'Woodlawn', 'Woodrow', 'Woodside'], dtype=object)

In [ ]:
classification_barrios=np.array(np.zeros(num_barrios))

In [ ]:
for i in range(len(barrios)):
  for j in range(filas):
    if barrios[i]==df['neighbourhood'][j]:
      classification_barrios[i]=classification_barrios[i]+df['classification_num'][j]

In [ ]:
n=np.array(np.zeros(num_barrios))
for i in range(len(barrios)):
  for j in range(filas):
    if barrios[i]==df['neighbourhood'][j]:
      n[i]=n[i]+1

In [ ]:
total=classification_barrios/n


ordenado=total
ordenado=sorted(ordenado,reverse=True)
print(ordenado)

[0.75, 0.75, 0.75, 0.75, 0.71875, 0.713855421686747, 0.7, 0.6979768786127167, 0.6964285714285714, 0.6785714285714286, 0.6742424242424242, 0.6730769230769231, 0.672077922077922, 0.668918918918919, 0.6666666666666666, 0.6640316205533597, 0.6566523605150214, 0.6536697247706422, 0.653188775510204, 0.6525974025974026, 0.65, 0.65, 0.6484304932735426, 0.6470588235294118, 0.6470588235294118, 0.6457142857142857, 0.6454802259887006, 0.6449044585987261, 0.6428571428571429, 0.6423611111111112, 0.6403061224489796, 0.6382042253521126, 0.6376146788990825, 0.6363636363636364, 0.6357421875, 0.6345108695652174, 0.628323108384458, 0.6274703557312253, 0.6265822784810127, 0.6257009345794392, 0.625, 0.625, 0.625, 0.625, 0.625, 0.6247464503042597, 0.6242166517457476, 0.6239935587761675, 0.621900826446281, 0.6213235294117647, 0.6198224852071006, 0.6197552447552448, 0.6190998902305159, 0.6179604261796042, 0.6176307007786429, 0.6160714285714286, 0.6142857142857143, 0.6092927012791572, 0.6071428571428571, 0.607051282051282, 0.6041666666666666, 0.6019444444444444, 0.6012569832402235, 0.6, 0.6, 0.5972222222222222, 0.5972222222222222, 0.5969267139479906, 0.5961538461538461, 0.5952380952380952, 0.5938542825361512, 0.5932165318957772, 0.5930936995153473, 0.593042071197411, 0.5919117647058824, 0.5917132216014898, 0.5909090909090909, 0.5901639344262295, 0.5892857142857143, 0.5873015873015873, 0.5860323886639676, 0.5833333333333334, 0.5833333333333334, 0.58125, 0.5789473684210527, 0.578125, 0.5769230769230769, 0.5766666666666667, 0.5764462809917356, 0.5763888888888888, 0.576063829787234, 0.575, 0.575, 0.5748945147679325, 0.5734463276836158, 0.5731132075471698, 0.5714285714285714, 0.5691489361702128, 0.5681818181818182, 0.5641025641025641, 0.5602655771195098, 0.5597826086956522, 0.5571428571428572, 0.5541666666666667, 0.5535714285714286, 0.5524193548387096, 0.55, 0.549645390070922, 0.5476190476190477, 0.5416666666666666, 0.5416666666666666, 0.5416666666666666, 0.5416666666666666, 0.5394736842105263, 0.5389784946236559, 0.5384615384615384, 0.5365853658536586, 0.5363636363636364, 0.5362903225806451, 0.5357142857142857, 0.5357142857142857, 0.5344827586206896, 0.534037558685446, 0.53125, 0.53125, 0.53125, 0.53, 0.5296610169491526, 0.5277777777777778, 0.527027027027027, 0.5267857142857143, 0.5263157894736842, 0.5258899676375405, 0.5257352941176471, 0.525, 0.5241935483870968, 0.5227272727272727, 0.5223214285714286, 0.5222222222222223, 0.5208333333333334, 0.5208333333333334, 0.5185185185185185, 0.5133928571428571, 0.5108247422680412, 0.5066666666666667, 0.5011467889908257, 0.5005, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.49567099567099565, 0.4935064935064935, 0.4895833333333333, 0.48717948717948717, 0.4861111111111111, 0.484375, 0.4819277108433735, 0.4818181818181818, 0.4787234042553192, 0.475, 0.4722222222222222, 0.4715909090909091, 0.47058823529411764, 0.47058823529411764, 0.47058823529411764, 0.47058823529411764, 0.47058823529411764, 0.46875, 0.4666666666666667, 0.4642857142857143, 0.46153846153846156, 0.4609375, 0.4596774193548387, 0.4557291666666667, 0.4537037037037037, 0.45, 0.44047619047619047, 0.4375, 0.4375, 0.4375, 0.4375, 0.4336734693877551, 0.43125, 0.42857142857142855, 0.4166666666666667, 0.4166666666666667, 0.4166666666666667, 0.4166666666666667, 0.4166666666666667, 0.4166666666666667, 0.4140625, 0.4107142857142857, 0.3942307692307692, 0.39285714285714285, 0.375, 0.375, 0.375, 0.3611111111111111, 0.35714285714285715, 0.35526315789473684, 0.3409090909090909, 0.32142857142857145, 0.3125, 0.28846153846153844, 0.25, 0.25, 0.25, 0.25]

In [ ]:
matriz=np.append(barrios,total,axis=0)

In [ ]:

ordenado=matriz.reshape(2,221)
ordenado=ordenado.transpose()

In [ ]:
orden=sorted(ordenado, key=lambda x:x[1],reverse=True)

In [ ]:
print(orden)

[array(['Bay Terrace, Staten Island', 0.75], dtype=object), array(['New Dorp', 0.75], dtype=object), array(['Rossville', 0.75], dtype=object), array(['Woodrow', 0.75], dtype=object), array(['New Springville', 0.71875], dtype=object), array(['Downtown Brooklyn', 0.713855421686747], dtype=object), array(['Little Neck', 0.7], dtype=object), array(['Morningside Heights', 0.6979768786127167], dtype=object), array(['Navy Yard', 0.6964285714285714], dtype=object), array(['Columbia St', 0.6785714285714286], dtype=object), array(['Cobble Hill', 0.6742424242424242], dtype=object), array(['Civic Center', 0.6730769230769231], dtype=object), array(['Brooklyn Heights', 0.672077922077922], dtype=object), array(['Stuyvesant Town', 0.668918918918919], dtype=object), array(['Breezy Point', 0.6666666666666666], dtype=object), array(['Nolita', 0.6640316205533597], dtype=object), array(['Carroll Gardens', 0.6566523605150214], dtype=object), array(['East Village', 0.6536697247706422], dtype=object), array(['Williamsburg', 0.653188775510204], dtype=object), array(['Roosevelt Island', 0.6525974025974026], dtype=object), array(['Emerson Hill', 0.65], dtype=object), array(['Melrose', 0.65], dtype=object), array(['Greenpoint', 0.6484304932735426], dtype=object), array(['Prospect Heights', 0.6470588235294118], dtype=object), array(['Vinegar Hill', 0.6470588235294118], dtype=object), array(['Kensington', 0.6457142857142857], dtype=object), array(['Boerum Hill', 0.6454802259887006], dtype=object), array(['Windsor Terrace', 0.6449044585987261], dtype=object), array(['Sea Gate', 0.6428571428571429], dtype=object), array(['Two Bridges', 0.6423611111111112], dtype=object), array(['Greenwich Village', 0.6403061224489796], dtype=object), array(['South Slope', 0.6382042253521126], dtype=object), array(['Midwood', 0.6376146788990825], dtype=object), array(['Woodlawn', 0.6363636363636364], dtype=object), array(['West Village', 0.6357421875], dtype=object), array(['Chinatown', 0.6345108695652174], dtype=object), array(['Fort Greene', 0.628323108384458], dtype=object), array(['Park Slope', 0.6274703557312253], dtype=object), array(['Red Hook', 0.6265822784810127], dtype=object), array(['Prospect-Lefferts Gardens', 0.6257009345794392], dtype=object), array(['Arden Heights', 0.625], dtype=object), array(['NoHo', 0.625], dtype=object), array(["Prince's Bay", 0.625], dtype=object), array(['Todt Hill', 0.625], dtype=object), array(['Westerleigh', 0.625], dtype=object), array(['Bushwick', 0.6247464503042597], dtype=object), array(['East Harlem', 0.6242166517457476], dtype=object), array(['Flatbush', 0.6239935587761675], dtype=object), array(['Little Italy', 0.621900826446281], dtype=object), array(['Crown Heights', 0.6213235294117647], dtype=object), array(['Gramercy', 0.6198224852071006], dtype=object), array(['Clinton Hill', 0.6197552447552448], dtype=object), array(['Lower East Side', 0.6190998902305159], dtype=object), array(['Upper West Side', 0.6179604261796042], dtype=object), array(['Washington Heights', 0.6176307007786429], dtype=object), array(['Inwood', 0.6160714285714286], dtype=object), array(['Battery Park City', 0.6142857142857143], dtype=object), array(['Harlem', 0.6092927012791572], dtype=object), array(['Shore Acres', 0.6071428571428571], dtype=object), array(['Sunset Park', 0.607051282051282], dtype=object), array(['Marble Hill', 0.6041666666666666], dtype=object), array(['Astoria', 0.6019444444444444], dtype=object), array(['SoHo', 0.6012569832402235], dtype=object), array(['Morris Park', 0.6], dtype=object), array(['New Brighton', 0.6], dtype=object), array(['City Island', 0.5972222222222222], dtype=object), array(['DUMBO', 0.5972222222222222], dtype=object), array(['Ridgewood', 0.5969267139479906], dtype=object), array(['Kew Gardens Hills', 0.5961538461538461], dtype=object), array(['University Heights', 0.5952380952380952], dtype=object), array(['Upper East Side', 0.5938542825361512], dtype=object), array(['Chelsea', 0.5932165318957772], dtype=object), array(['Bedford-Stuyvesant', 0.5930936995153473], dtype=object), array(['Ditmars Steinway', 0.593042071197411], dtype=object), array(['Gravesend', 0.5919117647058824], dtype=object), array(['Long Island City', 0.5917132216014898], dtype=object), array(['Tremont', 0.5909090909090909], dtype=object), array(['Brownsville', 0.5901639344262295], dtype=object), array(['Hollis', 0.5892857142857143], dtype=object), array(['Fordham', 0.5873015873015873], dtype=object), array(['Gowanus', 0.5860323886639676], dtype=object), array(['Morrisania', 0.5833333333333334], dtype=object), array(['Soundview', 0.5833333333333334], dtype=object), array(['Flatiron District', 0.58125], dtype=object), array(['College Point', 0.5789473684210527], dtype=object), array(['Fresh Meadows', 0.578125], dtype=object), array(['Cambria Heights', 0.5769230769230769], dtype=object), array(['Bensonhurst', 0.5766666666666667], dtype=object), array(['Sunnyside', 0.5764462809917356], dtype=object), array(['Forest Hills', 0.5763888888888888], dtype=object), array(['Kips Bay', 0.576063829787234], dtype=object), array(['Bergen Beach', 0.575], dtype=object), array(['Great Kills', 0.575], dtype=object), array(['Elmhurst', 0.5748945147679325], dtype=object), array(['Tribeca', 0.5734463276836158], dtype=object), array(['Rego Park', 0.5731132075471698], dtype=object), array(['Grymes Hill', 0.5714285714285714], dtype=object), array(['Woodside', 0.5691489361702128], dtype=object), array(['Van Nest', 0.5681818181818182], dtype=object), array(['Parkchester', 0.5641025641025641], dtype=object), array(["Hell's Kitchen", 0.5602655771195098], dtype=object), array(['Port Morris', 0.5597826086956522], dtype=object), array(['Kingsbridge', 0.5571428571428572], dtype=object), array(['Mott Haven', 0.5541666666666667], dtype=object), array(['Pelham Gardens', 0.5535714285714286], dtype=object), array(['Ozone Park', 0.5524193548387096], dtype=object), array(['Mount Hope', 0.55], dtype=object), array(['Bay Ridge', 0.549645390070922], dtype=object), array(['Allerton', 0.5476190476190477], dtype=object), array(["Bull's Head", 0.5416666666666666], dtype=object), array(['Fieldston', 0.5416666666666666], dtype=object), array(['Glendale', 0.5416666666666666], dtype=object), array(['Mount Eden', 0.5416666666666666], dtype=object), array(['Bronxdale', 0.5394736842105263], dtype=object), array(['Jackson Heights', 0.5389784946236559], dtype=object), array(['Schuylerville', 0.5384615384615384], dtype=object), array(['Sheepshead Bay', 0.5365853658536586], dtype=object), array(['Fort Hamilton', 0.5363636363636364], dtype=object), array(['Longwood', 0.5362903225806451], dtype=object), array(['Baychester', 0.5357142857142857], dtype=object), array(['Dongan Hills', 0.5357142857142857], dtype=object), array(['Far Rockaway', 0.5344827586206896], dtype=object), array(['Flushing', 0.534037558685446], dtype=object), array(['Concourse Village', 0.53125], dtype=object), array(['Jamaica Hills', 0.53125], dtype=object), array(['Throgs Neck', 0.53125], dtype=object), array(['Concourse', 0.53], dtype=object), array(['Rosedale', 0.5296610169491526], dtype=object), array(['Castle Hill', 0.5277777777777778], dtype=object), array(['East Elmhurst', 0.527027027027027], dtype=object), array(['Claremont Village', 0.5267857142857143], dtype=object), array(['Jamaica Estates', 0.5263157894736842], dtype=object), array(['Midtown', 0.5258899676375405], dtype=object), array(['Borough Park', 0.5257352941176471], dtype=object), array(['North Riverdale', 0.525], dtype=object), array(['Norwood', 0.5241935483870968], dtype=object), array(['Whitestone', 0.5227272727272727], dtype=object), array(['Rockaway Beach', 0.5223214285714286], dtype=object), array(['Cypress Hills', 0.5222222222222223], dtype=object), array(['Dyker Heights', 0.5208333333333334], dtype=object), array(['Queens Village', 0.5208333333333334], dtype=object), array(['Highbridge', 0.5185185185185185], dtype=object), array(['Briarwood', 0.5133928571428571], dtype=object), array(['Murray Hill', 0.5108247422680412], dtype=object), array(['Brighton Beach', 0.5066666666666667], dtype=object), array(['East New York', 0.5011467889908257], dtype=object), array(['East Flatbush', 0.5005], dtype=object), array(['Belle Harbor', 0.5], dtype=object), array(['Castleton Corners', 0.5], dtype=object), array(['Coney Island', 0.5], dtype=object), array(['East Morrisania', 0.5], dtype=object), array(['Graniteville', 0.5], dtype=object), array(['Holliswood', 0.5], dtype=object), array(['Howland Hook', 0.5], dtype=object), array(['Lighthouse Hill', 0.5], dtype=object), array(['Mariners Harbor', 0.5], dtype=object), array(['New Dorp Beach', 0.5], dtype=object), array(['Oakwood', 0.5], dtype=object), array(['Olinville', 0.5], dtype=object), array(['Riverdale', 0.5], dtype=object), array(['Silver Lake', 0.5], dtype=object), array(['South Beach', 0.5], dtype=object), array(['Westchester Square', 0.5], dtype=object), array(['Jamaica', 0.49567099567099565], dtype=object), array(['Arverne', 0.4935064935064935], dtype=object), array(['Belmont', 0.4895833333333333], dtype=object), array(['Bayside', 0.48717948717948717], dtype=object), array(['Laurelton', 0.4861111111111111], dtype=object), array(['St. George', 0.484375], dtype=object), array(['Flatlands', 0.4819277108433735], dtype=object), array(['Maspeth', 0.4818181818181818], dtype=object), array(['Richmond Hill', 0.4787234042553192], dtype=object), array(['Wakefield', 0.475], dtype=object), array(['Port Richmond', 0.4722222222222222], dtype=object), array(['Woodhaven', 0.4715909090909091], dtype=object), array(['Bath Beach', 0.47058823529411764], dtype=object), array(['Bayswater', 0.47058823529411764], dtype=object), array(['Morris Heights', 0.47058823529411764], dtype=object), array(['Pelham Bay', 0.47058823529411764], dtype=object), array(['Springfield Gardens', 0.47058823529411764], dtype=object), array(['Financial District', 0.46875], dtype=object), array(['Clifton', 0.4666666666666667], dtype=object), array(['Rosebank', 0.4642857142857143], dtype=object), array(['Edenwald', 0.46153846153846156], dtype=object), array(['Kew Gardens', 0.4609375], dtype=object), array(['Middle Village', 0.4596774193548387], dtype=object), array(['Theater District', 0.4557291666666667], dtype=object), array(['Stapleton', 0.4537037037037037], dtype=object), array(['Howard Beach', 0.45], dtype=object), array(['Tompkinsville', 0.44047619047619047], dtype=object), array(['Douglaston', 0.4375], dtype=object), array(['Manhattan Beach', 0.4375], dtype=object), array(['South Ozone Park', 0.4375], dtype=object), array(['St. Albans', 0.4375], dtype=object), array(['Canarsie', 0.4336734693877551], dtype=object), array(['Williamsbridge', 0.43125], dtype=object), array(['Clason Point', 0.42857142857142855], dtype=object), array(['Bay Terrace', 0.4166666666666667], dtype=object), array(['Eltingville', 0.4166666666666667], dtype=object), array(['Huguenot', 0.4166666666666667], dtype=object), array(['Hunts Point', 0.4166666666666667], dtype=object), array(['Midland Beach', 0.4166666666666667], dtype=object), array(['Neponsit', 0.4166666666666667], dtype=object), array(['Corona', 0.4140625], dtype=object), array(['Bellerose', 0.4107142857142857], dtype=object), array(['Concord', 0.3942307692307692], dtype=object), array(['Arrochar', 0.39285714285714285], dtype=object), array(['Grant City', 0.375], dtype=object), array(['Spuyten Duyvil', 0.375], dtype=object), array(['West Farms', 0.375], dtype=object), array(['West Brighton', 0.3611111111111111], dtype=object), array(['Unionport', 0.35714285714285715], dtype=object), array(['Randall Manor', 0.35526315789473684], dtype=object), array(['Edgemere', 0.3409090909090909], dtype=object), array(['Tottenville', 0.32142857142857145], dtype=object), array(['Mill Basin', 0.3125], dtype=object), array(['Eastchester', 0.28846153846153844], dtype=object), array(['Co-op City', 0.25], dtype=object), array(['Fort Wadsworth', 0.25], dtype=object), array(['Richmondtown', 0.25], dtype=object), array(['Willowbrook', 0.25], dtype=object)]

In [ ]:
pos=0
for i in range (len(orden)):
  if orden[i][0]=='Williamsburg':
    pos=i;

18

Podemos concluir que el Barrio está en la posición 18 mejor valorado respecto a los 221 barrios.

##Evaluación

##Despliegue

#EJERCICIO 2

 Explica visualmente como se distribuyen los 5 barrios más populares (esto serán aquellos cuyos apartamentos estén más solicitados en números absolutos. Para ello utiliza un diagrama de burbuja donde el eje de las X indica el barrio y el eje Y la calidad de los apartamentos. Usa todos los diagramas que necesites para llegar a esta conclusión final.

In [ ]:
#Bubble Plot. The size of points changes based on a third variable
# x = barrio (ya tenemos una variable de los barrios)
# y = calidad de los apartamentos (classification)
# s = disponibilidad
x=barrios
plt.scatter(x,y,s)

#EJERCICIO 3

Una vez obtenida la información del apartado anterior, queremos tratar de entender las diferencias de precio entre alquilar un apartamento entero y una habitación privada. Usa los diagramas de cajas donde cada uno de los 5 barrios más populares está representado por una caja y haz una interpretación de los resultados.

#EJERCICIO 4

Por último, se intuye que la tendencia a dejar reseñas en las apps que prestan servicios, ha aumentado en los últimos años. Decide que diagrama es más útil para este caso. Dibújalo y realiza una interpretación del mismo. Tomaremos la fecha de la última reseña como el dato útil para realizar dicho caso.